/*******************************************************************************
*** START RESET RULES
*** Used the minimal reset rules from:
***   https://alligator.io/css/minimal-css-reset/
*******************************************************************************/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/*******************************************************************************
*** END RESET RULES
*******************************************************************************/
body {
  margin: 2.5rem;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

.main-container {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  row-gap: 2rem;
}

#img-div > img {
  display: block;
  margin: auto;
}

#img-caption {
  text-align: center;
}
