@import url("https://fonts.googleapis.com/css2?family=Contrail+One&family=Montserrat&family=Turret+Road:wght@800&family=Libre+Barcode+39+Text&display=swap");

/*******************************************************************************
*** START RESET RULES
*** Used the minimal reset rules from:
***   https://alligator.io/css/minimal-css-reset/
*******************************************************************************/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/*******************************************************************************
*** END RESET RULES
*******************************************************************************/
:root {
  --font-size: 75%;
}

html {
  background-color: #000;
  font-size: var(--font-size);
}

body {
  color: white;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5em;
  margin: 1.5em;
}

a {
  color: white;
  text-shadow: 2px 2px 4px red;
  font-weight: bold;
}

p {
  margin: 1.12em 0;
}

.header {
  text-align: center;
}

.header__title {
  font-family: "Contrail One", cursive;
  font-size: 2em;
  font-weight: bolder;
  margin: 0.67em 0;
}

.header__image {
  display: block;
  margin: auto;
}

.header__image-caption {
  margin: -2em 0 3.5em;
  font-size: 0.6em;
  line-height: 1.25em;
  text-align: center;
}

#about {
  grid-area: about;
}

#sprawl-trilogy {
  grid-area: sprawl;
}

#bridge-trilogy {
  grid-area: bridge;
}

#blue-ant-trilogy {
  grid-area: blue-ant;
}

#more {
  grid-area: more;
}

#credits {
  grid-area: credits;
}

#static {
  display: none;
}

.content {
  display: grid;
  grid-template-areas:
    "about"
    "sprawl"
    "bridge"
    "blue-ant"
    "more"
    "credits";
  justify-items: stretch;
}

.section {
  margin: 2em 0;
  padding: 1em;
  box-shadow: inset 0 0 0.25em 0.25em limegreen, 0 0 0.75em 0.5em limegreen;
  border-radius: 15px;
}

.section__title {
  margin: 0.75em 0;
  font-family: "Turret Road", cursive;
  color: limegreen;
  text-transform: uppercase;
}

nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

nav li {
  margin-left: 10px;
}

.flatline {
  text-align: center;
  font-family: "Libre Barcode 39 Text", cursive;
  font-size: 2em;
  line-height: 1.25em;
  color: limegreen;
}

.book {
  display: grid;
  grid-template-areas:
    "cover"
    "title"
    "synopsis";
  justify-items: center;
  margin: 1em 0;
}

.book__title {
  grid-area: title;
  color: white;
  font-family: "Turret Road", cursive;
  font-size: 1.5em;
  margin: 0.75em 0;
}

.book__cover {
  grid-area: cover;
  filter: drop-shadow(1px 1px 25px hotpink);
}

.book__synopsis {
  grid-area: synopsis;
}

.book__synopsis > blockquote {
  margin: 1em 1em;
}

@media (min-width: 600px) {
  :root {
    --font-size: 90%;
  }

  body {
    max-width: 900px;
    margin: auto;
  }

  #about {
    margin: 2em 25%;
  }

  .content {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "about about about"
      "sprawl sprawl sprawl"
      "bridge bridge bridge"
      "blue-ant blue-ant blue-ant"
      "credits . more";
  }

  .books {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .trilogy-info {
    grid-area: trilogy-info;
  }

  .book {
    grid-template-rows: auto 3em 1fr;
  }

  .footer {
    text-align: center;
    margin: 0 auto;
    width: 50%;
  }

  #static {
    display: block;
    margin-top: 3em;
    border-radius: 1em;
    height: 50%;
  }
}
