/*******************************************************************************
*** START RESET RULES
*** Used the minimal reset rules from:
***   https://alligator.io/css/minimal-css-reset/
*******************************************************************************/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/*******************************************************************************
*** END RESET RULES
*******************************************************************************/
body {
  margin: 2.5rem;
}

p {
  margin: 1.12em 0;
}

.header {
  grid-area: header;
}

.header--title {
  font-size: 2em;
  font-weight: bolder;
  margin: 0.67em 0;
}

.header--image {
  display: block;
  margin: auto;
}

.header--image-caption {
  text-align: center;
}

.content {
  grid-area: content;
}

.section--title {
  margin: 0.75em 0;
  font-weight: bold;
}

.footer {
  grid-area: footer;
}

.main-container {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
}
